<style>

  nav{
    display: flex;
  }
  nav a{
    text-decoration: none;
    margin: 10px;
    font-size: xx-large;
  }
</style>
<nav>
 
   <a href="/">Accueil</a>
   <a style="margin-left: 20px;" href="/create/annonce">Ajouter une annonce</a>
 
</nav>
